table{
    border-collapse: collapse;
    width: 250px;
    height: 100px;
    text-align: center;
}

tr, td{
    border: 3px solid black;
}

/* table tr:nth-child(1){
    background-color: aqua;
} */

